<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Giga.Transformer" type="Giga.Transformer.Configuration.TransformerConfigSection,Giga.Transformer"/>
  </configSections>
  <Giga.Transformer configSource=".\Giga.Transformer.config"></Giga.Transformer>
</configuration>