<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Giga.Transformer" type="Giga.Transformer.Configuration.TransformerConfigSection,Giga.Transformer"/>
  </configSections>

  <Giga.Transformer>
    <Parsers>
      <Parser name="ExcelParser" type="Giga.Transformer.Excel.ExcelParser"/>
    </Parsers>
    
    <Templates>

      <Template name="TestExcelTableTemplate" parser="ExcelParser">
        <Collections>
          <Collection name="Table" 
                            range="DETAIL_BOF:DETAIL_EOF"
                            orientation="vertical">
            <ItemTemplate>
              <Entity type="Giga.Test.Transformer.Excel.RootEntity,Giga.Test" range="1,*">
                <Fields>
                  <Field name="Field1" range="0,0" type="System.String"/>
                  <Field name="Field2" range="0,1" type="System.Int32"/>
                  <Field name="Field3" range="0,2" type="System.DateTime"/>
                </Fields>
              </Entity>
            </ItemTemplate>
          </Collection>
        </Collections>
      </Template>

      <Template name="TestExcelFormTemplate" parser="ExcelParser">
        <Collections>
          <Collection name="One" range="Sheet1!*,*">
            <ItemTemplate>
              <Entity type="Giga.Test.Transformer.Excel.RootEntity,Giga.Test" range="*,*">
                <Fields>
                  <Field name="Field1" range="Sheet1!A2" type="System.String"/>
                  <Field name="Field2" range="Sheet1!A3" type="System.Int32"/>
                  <Field name="Field3" range="Sheet1!A4" type="System.DateTime"/>
                </Fields>
                <Collections>
                  <Collection name="Children"
                              range="Sheet1!HEAD_OF_LINE:END_OF_LINE"
                              orientation="vertical">
                    <ItemTemplate>
                      <Entity type="Giga.Test.Transformer.Excel.SubEntity,Giga.Test" range="*,*">
                        <Fields>
                          <Field name="Field1" range="0,0" type="System.String"/>
                          <Field name="Field2" range="1,0" type="System.Int32"/>
                          <Field name="Field3" range="2,0" type="System.DateTime"/>
                        </Fields>
                      </Entity>
                    </ItemTemplate>
                  </Collection>
                </Collections>
              </Entity>
            </ItemTemplate>
          </Collection>
        </Collections>
      </Template>
    </Templates>
  </Giga.Transformer>
</configuration>