<?xml version="1.0" encoding="utf-8" ?>
<Giga.Transformer>
  <Parsers>
    <Parser name="ExcelParser" type="Giga.Transformer.Excel.ExcelParser"/>
  </Parsers>

  <Templates>

    <Template name="TestNormalTabularData_FixedRange" parser="ExcelParser">
      <Collections>
        <Collection name="TabularData"
                          range="Sheet1!A4:J11"
                          orientation="vertical">
          <ItemTemplate>
            <Entity range="A1:J1">
              <Fields>
                <Field name="PO" range="A1" />
                <Field name="Item" range="B1" />
                <Field name="ProductCode" range="C1" />
                <Field name="ProductName" range="D1"/>
                <Field name="Weight" range="E1" />
                <Field name="Qty" range="F1" />
                <Field name="UnitPrice" range="G1"/>
                <Field name="Total" range="H1"/>
                <Field name="PODate" range="I1"/>
                <Field name="DueDate" range="J1"/>
              </Fields>
            </Entity>
          </ItemTemplate>
        </Collection>
      </Collections>
    </Template>

  </Templates>
  </Giga.Transformer>