<?xml version="1.0" encoding="utf-8" ?>
<Giga.Transformer>
  <Parsers>
    <Parser name="ExcelParser" type="Giga.Transformer.Excel.ExcelParser"/>
  </Parsers>

  <Templates>

    <Template name="TestNormalTabularData_FixedRange" parser="ExcelParser">
      <Collections>
        <Collection name="TabularData"
                          range="Sheet1!A4:J20"
                          orientation="vertical">
          <ItemTemplate>
            <Entity range="A1:J1" allowNull="false">
              <Fields>
                <Field name="PO" range="A1" />
                <Field name="Item" range="B1" />
                <Field name="ProductCode" range="C1" />
                <Field name="ProductName" range="D1"/>
                <Field name="Weight" range="E1" />
                <Field name="Qty" range="F1" />
                <Field name="UnitPrice" range="G1"/>
                <Field name="Total" range="H1"/>
                <Field name="PODate" range="I1"/>
                <Field name="DueDate" range="J1"/>
              </Fields>
            </Entity>
          </ItemTemplate>
        </Collection>
      </Collections>
    </Template>

    <Template name="TestNormalTabularData_DynamicRange" parser="ExcelParser">
      <Collections>
        <Collection name="TabularData"
                          range="Sheet1!A4:J"
                          orientation="vertical"
                          abortBefore="END_OF_DATA"
                    >
          <ItemTemplate>
            <Entity range="A1:J1" allowNull="true">
              <Fields>
                <Field name="PO" range="A1" />
                <Field name="Item" range="B1" />
                <Field name="ProductCode" range="C1" />
                <Field name="ProductName" range="D1"/>
                <Field name="Weight" range="E1" />
                <Field name="Qty" range="F1" />
                <Field name="UnitPrice" range="G1"/>
                <Field name="Total" range="H1"/>
                <Field name="PODate" range="I1"/>
                <Field name="DueDate" range="J1"/>
              </Fields>
            </Entity>
          </ItemTemplate>
        </Collection>
      </Collections>
    </Template>

    <Template name="RdPurchaseOrder" parser="ExcelParser">
      <Collections>
        <Collection name="RdPo"
                          range="'SG Purchase Order'!$B$2:$AO"
                          orientation="vertical"
                    >
          <ItemTemplate>
            <Entity range="A1:AO" allowNull="false">
              <Fields>
                <Field name="Id" range="PO_NUMBER" />
                <Field name="Version" range="$H$16" />
                <Field name="ShipTo" range="SHIP_TO" />
                <Field name="ExtPo" range="$AC$16"/>
                <Field name="PoDate" range="PO_DATE" />
                <Field name="Payment" range="PAYMENT" />
                <Field name="Delivery" range="DELIVERY"/>
                <Field name="IncoTerms" range="INCOTERMS"/>
                <Field name="AdditionalNotes" range="END_OF_ITEMS#1,5"/>
                <Field name="Currency" range="$AL$24"/>
              </Fields>
            </Entity>
          </ItemTemplate>
        </Collection>
      </Collections>
    </Template>

  </Templates>
  </Giga.Transformer>