<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Giga.Log" type="Giga.Log.Configuration.LogConfigurationSection, Giga.Log" requirePermission="false"/>
    <section name="Giga.User" type="Giga.User.Configuration.UserConfigurationSection, Giga.User" requirePermission="false"/>
  </configSections>
  <Giga.Log OutputToConsole="true">
    <Loggers>
      <Logger name="FileLog" type="Giga.Log.FileLogger, Giga.Log" severity="Verbose" enabled="true" synchronize="false">
        <Parameters>
          <Parameter name="RootPath" value="Logs" />
          <Parameter name="BaseName" value="" />
          <Parameter name="MaxSize" value="1024000" />
        </Parameters>
      </Logger>
    </Loggers>
  </Giga.Log>
  <Giga.User accountProvider="EntityDBProvider">
    <AccountProviders>
      <Provider name="EntityDBProvider" type="Giga.User.Providers.AccountDBProvider, Giga.User" enabled="true">
        <Parameters>
          <Parameter name="ConnectString" value="Entity" />
          <Parameter name="TablePrefix" value="GIGA_USER_" />
        </Parameters>
      </Provider>
    </AccountProviders>
  </Giga.User>
</configuration>