<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="Giga.Log" type="Giga.Log.Configuration.LogConfigurationSection, Giga.Log" requirePermission="false"/>
    <section name="Giga.User" type="Giga.User.Configuration.UserConfigurationSection, Giga.User" requirePermission="false"/>
    <section name="Giga.Transformer" type="Giga.Transformer.Configuration.TransformerConfigSection,Giga.Transformer"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <Giga.Log OutputToConsole="true">
    <Loggers>
      <Logger name="FileLog" type="Giga.Log.FileLogger, Giga.Log" severity="Verbose" enabled="true" synchronize="false">
        <Parameters>
          <Parameter name="RootPath" value="Logs" />
          <Parameter name="BaseName" value="" />
          <Parameter name="MaxSize" value="1024000" />
        </Parameters>
      </Logger>
    </Loggers>
  </Giga.Log>
  <Giga.User accountProvider="EntityDBProvider">
    <AccountProviders>
      <Provider name="EntityDBProvider" type="Giga.User.Providers.AccountDBProvider, Giga.User" connectStringName="Entity">
      </Provider>
    </AccountProviders>
  </Giga.User>
  <connectionStrings>
    <add name="Entity" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Archer;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <Giga.Transformer configSource=".\Transformer\Giga.Transformer.config"></Giga.Transformer>
</configuration>